﻿#TextareaJD, #TextareaKeywords {
    resize: vertical;
}

.error {
    color: red;
}

.txtcontrol {
    height: 30px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 2px;
}

.divgrp {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    width: 39%;
    padding: 12px;
    margin-left: 74px;
    margin-top: -25px;
    margin-bottom: 5px;
}

.divnewgrp {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    background-image: none;
    width: 39%;
    padding: 12px;
    margin-left: 74px;
    margin-bottom: 5px;
}

.btnmargin {
    margin-top: 3%;
}

.btnMarginLeft {
    margin-left: 555px;
}

.btnMarginTop {
    width: 15%;
    margin-left: 463px;
    height: 0%
}

.btn-primary {
    background-color: #5A55A3;
    border-color: #5A55A3;
}

    .btn-primary:hover {
        background-color: #352cc4;
        border-color: #5A55A3;
    }

    .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
        color: #fff;
        background-color: #0f069e;
        border-color: #0a055c;
    }

    .btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
        color: #fff;
        background-color: #0f069e;
        border-color: #0a055c;
    }

    .btn-primary.focus, .btn-primary:focus {
        color: #fff;
        background-color: #0f069e;
        border-color: #0a055c;
    }
.alert {
    padding: 8px;
}

.mt-2 {
    margin-top: 2%;
}

.modal-backdrop.show {
    opacity: .5;
}
 .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modalstatus {
    display: none;
}